@font-face {
	font-family:王漢宗顏楷體;
	src:url("../font/wt064.ttf");
	}
form table{
margin:3vw auto;
width:60%;
box-shadow: 0px 0px 3vw 0.3vw  #FFFFFF;
}
form th{
background:	#5555FF;
font-size:1.3vw;
font-family:王漢宗顏楷體;
font-weight:normal;
color:white;
padding:0.5vw 1vw;
}
form td{
padding:0 1vw;
font-family:王漢宗顏楷體;
font-size:1.2vw;
background:#FFFFFFd9;
}
form img{
width:5vw;
padding-top:0.3vw;
}
form tfoot a{
text-decoration:none;
background:#5555FF;
border:solid 0.1vw #CCCCCC;
color:snow;
padding:0.4vw 0.5vw;
font-family:王漢宗顏楷體;
font-size:1.2vw;
margin:0.3vw 0.5vw;
width:7vw;
}
form tfoot .sub{
background:	#5555FF;
border:solid 0.1vw #CCCCCC;
color:snow;
padding:0.25vw 0.5vw;
font-family:王漢宗顏楷體;
font-size:1.2vw;
margin:0.3vw 0.5vw;
cursor: pointer;
width:7vw;
}
.ad{
margin:4vw auto;
column-count:4;
width:70%;
box-shadow: 0px 0px 3vw 0.3vw  #FFFFFFba;
}
.ad a{
text-decoration:none;
color:black;
font-size:1.3vw;
font-family:王漢宗顏楷體;
}
.ad h3{
	font-weight:normal;
}
.ad .oad{
border:solid 0.1vw #9999FF;
width:85%;
background:#FFFFFFb9;
padding-top:1vw;
padding-bottom:1vw;
padding-left:2vw;
box-shadow: 0px 0px 3vw 0.3vw  #FFFFFFba;
-webkit-column-break-before;
}
.ad .oad img{
width:12vw;
}
.ad .oad .pr{
color:red;
text-align:right;
font-size:1.2vw;
}